h3 {
    padding: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid black;
    margin: 0px;
    background-color: rgb(41, 44, 44);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 100%;
}

li {
    
    font-size: 15px;
    padding: 5px;
    text-align: left;
    color: rgb(91, 91, 92);
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 10px;
}

button {
    vertical-align: bottom;
    margin-left: 20px;
    padding: 2px;
    color: rgb(143, 143, 143);
    background-color: rgb(61, 66, 66);
    border: 0px solid black;
    font-weight: 600;
}

.textSpan {
    display: inline-block;
    width: 30%;
    margin-left: 5px;
}

.buttonSpan {
    display: inline-block;
    width: 60%;
    text-align: right;
}

.content{
    background-color: rgb(61, 66, 66);
    border: 0px solid black;
    font-family: 'Poppins', sans-serif;
}