<h3>DECORATIVES
    <span class="buttonGroup">
        <button *ngIf="design == true" class="reloadButton" (click)="ngOnInit()">R</button>
        <button *ngIf="design == true" (click)="addName()">New</button>
    </span>

</h3>


<form [formGroup]="decoItemsForm">

    <div class="container">
        <ul formArrayName="names">

            <li *ngFor="let item of names.controls; let i = index">

                <span [formGroupName]="i" >
                    <input class="content" type="text" name="" id="" formControlName="name">
                </span>
                
                <span class="buttonGroup">

                    <button *ngIf="design == true" class="saveButton" (click)="save(i)"> Save </button>

                    <span *ngIf="(item.value.id != -1) && design == true">
                        <button class="deleteButton" (click)="delete(i)"> Delete </button>
                    </span>
 
                    <button *ngIf="design == false" (click)="add(i)" > + </button>
                    
                </span> 

            </li>
        </ul>
    </div>

</form>