<div class="listView">

    <h3>ITEM LIST </h3>

    <ul>
        <li *ngFor="let item of items; let i = index">
            <span class="textSpan">
                <a [routerLink]="['/design/item/show',item.id]">{{item.name}}</a>
            </span>
            <span class="buttonSpan">
                <button *ngIf="design === true" (click)="delete(item.id)"> delete </button>
                <button *ngIf="design === false" (click)="add(item)"> add </button>
            </span>

        </li>
    </ul>

</div>