<div class="showSection">

    <form [formGroup]="itemCreateForm">

        <h3>ITEM EDIT MENU</h3>

        <div class="statSection">

        Name: <input class="nameInput" type="text" formControlName="name">

        <div class="imageContainer">

            <div class="image">
            </div>

        </div>

       

            <div class="examine">
                Examine: <input class="content" type="text" formControlName="examine">
            </div>


            <ul>

                <li>
                    <p class="tittle"> Last updated </p>
                    <p><input class="content" type="text" formControlName="last_updated"></p>
                </li>
                <li>
                    <p class="tittle">Cost</p>
                    <p><input class="content" type="number" formControlName="cost"></p>
                </li>
                <li>
                    <p class="tittle">Weigth</p>
                    <p><input class="content" type="number" formControlName="weight"></p>
                </li>
                <li>
                    <p class="tittle">wiki Url</p>
                    <p> <input class="content" type="text" formControlName="wiki_url"></p>
                </li>


                <div class="buttonContainer">
                    <button (click)="save()"> Save </button>
                </div>

            </ul>


        </div>



    </form>

</div>