<div class="listView">

    <h3> MONSTER LIST </h3>

    <ul>
        <li *ngFor="let monster of monsters; let i = index">
            <span class="textSpan">
                <a [routerLink]="['/design/monster/show',monster.id]">+{{monster.name}}</a>
            </span>
            <span class="buttonSpan">
                <button *ngIf="design==true" (click)="delete(monster.id)"> delete </button>
                <button *ngIf="design==false" (click)="add(monster)"> add</button>
            </span>

        </li>
    </ul>

</div>