.view {
    text-align: center;
    vertical-align: top;
    height: 70vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


.playerSection {
    display: inline-block;
    height: 100%;
    width: 20%;
    margin-left: 1vh;
    background-color: rgb(61, 66, 66);
    border-radius: 1.5vh;
    vertical-align: top;
}

.entityDisplay {
    margin: 1vh;
    height: 33vh;
    overflow: auto;
}

.elementDisplay {
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    width: 31%;
    height: 90%;
    margin: 1%;
    vertical-align: top;
    border-radius: 1vh;
    overflow: auto;
}

.roomSection {
    display: inline-block;
    height: 100%;
    width: 70%;
    border-radius: 1vh;
    vertical-align: top;
}

.roomElements {
    height: 28vh;
    width: 100%;
    background-color: rgb(61, 66, 66);
    border-radius: 1.5vh;
}

.listPlayersSection {
    height: 10vh;
    width: 100%;
    margin-top: 1vh;
    background-color: rgb(61, 66, 66);
    border-radius: 1.5vh;
}

.eventLog {
    width: 100%;
    height: 30vh;
    margin-top: 1vh;
    border-radius: 1.5vh;
}

.logConsole {
    width: 70%;
    height: 100%;
    border-radius: 1vh;
    display: inline-block;
    background-color: rgb(61, 66, 66);
    vertical-align: top;
}

.playerBackpack {
    width: 28%;
    height: 100%;
    margin-left: 1.5%;
    border-radius: 1vh;
    display: inline-block;
    background-color: rgb(61, 66, 66);
    vertical-align: top;
}

h3 {
    padding: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid black;
    margin: 0px;
    background-color: rgb(41, 44, 44);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 100%;

}

li {

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 5px;
    text-align: left;
    color: rgb(91, 91, 92);
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 10px;
}

.tittleSpan {
    text-align: left;
    display: inline-block;
    width: 65%;
    margin-left: 5px;
}

.buttonSpan {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.containerTop {
    overflow: auto;
    height: 88%;
}

.containerBottom {
    height: 12%;
    border-top: 1px solid black;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: rgb(76, 82, 82);
    text-align: left;

}

.containerBottom .tittleSpan {

    width: 20%;
    font-size: 12px;
    color: rgb(172, 172, 172);
    margin-left: 10px;
}


.playerSection .textSpan, .containerBottom .textSpan {
    margin: 0px;
    width: 20%;
    font-size: 12px;
    color: rgb(172, 172, 172);
    margin: 5px;
    color: black;
}

h4 {
    margin: 20px 0px 10px 0px;
}

.imgContainer {
    background-color: rgb(39, 43, 43);
    width: 40%;
    height: 27%;
    margin: auto;
    margin-top: 20px;
    border-radius: 1vh;
}

progress {
    border-radius: 1vh;
    width: 80%;
    height: 10px;
    margin: auto;
    margin-top: 20px;
}

progress::-webkit-progress-bar {
    background-color: rgb(112, 112, 112);
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: rgb(39, 39, 39);
    border-radius: 7px;
}