<div class="showSection">

    <form [formGroup]="playerCreateForm">

        <h3>SHOW MENU:</h3>

        <div class="statSection">

            <span>
               Name: <input class="content" type="text" formControlName="name">
            </span>

            <ul>
                <li>
                    <p class="tittle">last updated</p>
                    <p><input class="content" type="text" formControlName="last_updated"></p>
                </li>

                <li>
                    <p class="tittle">Attack Level</p>
                    <p><input class="content" type="number" formControlName="attack_level"></p>

                </li>

                <li>
                    <p class="tittle">defence slash</p>
                    <p><input class="content" type="number" formControlName="defence_slash"></p>
                </li>

                <li>
                    <p class="tittle">size</p>
                    <p><input class="content" type="number" formControlName="size"></p>
                </li>

                <li>
                    <p class="tittle">hitpoints</p>
                    <p><input class="content" type="number" formControlName="hitpoints"></p>
                </li>

                <li>
                    <p class="tittle">MaxWeight</p>
                    <p><input class="content" type="number" formControlName="maxWeight"></p>
                </li>

                <li>
                    <p class="tittle">Weight</p>
                    <p><input class="content" type="number" formControlName="weight"></p>
                </li>

                <li>
                    <p class="tittle"> location</p>
                    <p>{{this.player?.location?.name}}</p>
                </li>
            </ul>
        </div>

        <div class="categoriesSection">

            <h4>categories
                <button (click)="addCategory()"> add </button>
            </h4>

            <ul formArrayName="categories">

                <li *ngFor="let category of categories.controls; let i = index">

                    <p [formGroupName]="i">

                        <span class="textSpan">
                            <input class="categorie" type="text" formControlName="name">
                        </span>

                        <span class="buttonSpan">
                            <button (click)="removeCategory(i)" class="buttonDelete">x</button>
                        </span>

                    </p>

                </li>

            </ul>
            
        </div>
        
        <div class="itemsSection">

            <h4>Backpack</h4>
    
            <ul formArrayName="backpack">
                <li *ngFor="let item of items.controls; let i = index">
                    <p [formGroupName]="i">
                        <span class="textSpan">
                            {{item.value.item.name}}
                        </span>
                        <span class="buttonSpan">
                            <button (click)="removeItem(i)" class="buttonDelete">x</button>
                        </span>
                    </p>
                    
                </li>
            </ul>
        </div>


        <div class="examineSection">

            <span>Examine: <input class="" type="text" formControlName="examine"></span>
            <button class="buttonSave" (click)="save()"> Save </button>

        </div>

    </form>
</div>