@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.mainTittle {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin: 0px;
    padding: 5px;
    background-color: white;
    /* border: 1px solid black; */
}

a {
    color: black;
    text-decoration: none;
}

nav ul {
    text-align: center;
    margin: 0px;
    list-style-type: none;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    margin-bottom: 1em;
    background-color: darkgrey;
}

nav li {
    width: 15%;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    margin: 3px 10px 3px 10px;
    border: 2px solid black;
    text-transform: uppercase;
    background-color: darkslategray;
}

.buttonContainer {
    text-align: center;
    margin: 20px;
}

button {
    background-color: darkslategray;
    width: 30%;
    height: 60px;
    padding: 5px;
    margin-left: 20px;
}
