.designMenu{
    
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: white;
    border-top: 5px solid black;
    
    
}

.designDisplay{
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

ul{
    padding: 0px;
    list-style-type: none;
    width: 100%;
}

nav li{
    margin-top: 1em;
    margin-bottom: 2em;
    
    height: 2em;
    text-align: center;
    
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color:white;
    text-transform: uppercase;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color:darkgoldenrod;
}