<div class="showRoom">

    <h3>CREATE ROOM </h3>

    <div class="lists">

        <div class="listSelectItem">
            <app-decorative-item-show></app-decorative-item-show>
        </div>

        <div class="listSelectItem">
            <app-item-list></app-item-list>
        </div>

        <div class="listSelectItem">
            <app-monster-list></app-monster-list>
        </div>

    </div>

    <form [formGroup]="roomCreateForm">

        <span style="border-bottom: 1px solid black;">
            Rooms Name: <input class="tittleInput" type="text" formControlName="name">
        </span>

        <div class="itemsSection">
            <h4>Exits:</h4>

            <ul formArrayName="exits">
                <li *ngFor="let exit of exits.controls; let i = index">
                    <p [formGroupName]="i">

                        <span class="textSpan">
                            <span class="selectedName">{{exit.value.exit.name}} </span>
                        </span>

                        <span class="buttonSpan">
                            <button (click)="removeExit(i)" class="buttonDelete">x</button>
                        </span>
                    </p>
                </li>
            </ul>

        </div>

        <div class="itemsSection">
            <h4>Items:</h4>

            <ul formArrayName="items">
                <li *ngFor="let item of items.controls; let i = index">
                    <p [formGroupName]="i">

                        <span class="textSpan">
                            <span class="selectedName">{{item.value.item.name}} </span>
                        </span>

                        <span class="buttonSpan">
                            <button (click)="removeItem(i)" class="buttonDelete">x</button>
                        </span>
                    </p>
                </li>
            </ul>


        </div>



        <div class="itemsSection">

            <h4>Decoratives:</h4>
            <ul formArrayName="decoItems">
                <li *ngFor="let decoItem of decoItems.controls; let i = index">
                    <p [formGroupName]="i">
                        <span class="selectedName">{{decoItem.value.decoItem.name}} </span>
                        <button (click)="removeDecoItem(i)" class="buttonDelete">x</button>
                    </p>
                </li>
            </ul>



        </div>

        <h4> Monster: <span style="font-style: italic; margin-left: 40px;">{{this.roomCreateForm.value.monster?.name}}
            </span><button *ngIf="this.roomCreateForm.value.monster != undefined" (click)="removeMonster()"
                class="buttonDelete">X</button></h4>

        <button class="buttonSave" (click)="save()"> Save </button>


    </form>


</div>