.showRoom{
    background-color: rgb(87, 87, 87);
    border-radius: 1vh;
    font-family: 'Poppins', sans-serif;
    min-height: 70vh;
}

.lists{
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    padding: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-bottom: 1px solid black;
    margin: 0px;
    background-color: rgb(41, 44, 44);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

h4{
    margin: 0px;
}

.listSelectItem {
    vertical-align: top;
    display: inline-block;
    margin-inline: 1%;
    width: 23%;
    height: 300px;
    overflow: auto;
    border: 1px solid black;
    background-color: rgb(61, 66, 66);
    border-radius: 1vh;

}

.tittleInput {
    background-color: rgb(87, 87, 87);
    font-size: 20px;
    margin: 0px;
    text-align: center; 
    border: 0px solid black
}

.itemsSection{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    border-bottom: 1px solid black; 
}

ul {
    text-align: center;
    padding: 0px;    
}

li {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border-radius: 1vh;
    background-color: rgb(68, 68, 68);
}

p{
    margin: 0px;
}

.selectedName {
    margin-left: 10px;
}

.buttonDelete{
    margin: 0px;
    border-radius: 4vh;
    border: 0px solid black;
    background-color: rgb(116, 116, 116);
}

.buttonSave{
    width: 10%;
    background-color: rgb(28, 31, 31); 
    border-radius: 2vh;
    border: 1px solid black;
    color: black;
    margin: 50px;
}

.textSpan {
    display: inline-block;
    font-size: 15px;
}

.buttonSpan {
    display: inline-block;
    width: 10%;
    text-align: right;  
}