<div class="listView">

    <h3> PLAYER LIST </h3>
    
    <ul>
        <li *ngFor="let player of players; let i = index">
            <span class="textSpan">
                <a [routerLink]="['/admin/show',player.id]">{{player.name}}</a>
            </span>
    
            <span class="buttonSpan">
                <button *ngIf="design == false" (click)="delete(player.id)"> delete </button>
                <button *ngIf="design == true" (click)="add(player)"> add </button>
            </span>
        </li>
    </ul>
    
</div>
