<div>

    <div class="homeSection">
        <h3>How to play</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus non, reprehenderit quasi, pariatur praesentium, aut et asperiores error repellendus mollitia dolorem explicabo totam in neque nemo saepe. Quis, neque qui?
        Reiciendis assumenda natus, magni id voluptatem delectus molestiae commodi magnam modi eligendi quia corrupti, esse, dolores tempora. Possimus, consequuntur aspernatur. Aspernatur fugit reprehenderit nihil, eum laborum libero voluptates soluta corrupti.
        Necessitatibus non praesentium harum sequi veritatis mollitia porro laboriosam perferendis vero neque excepturi, cum hic natus ipsum aut perspiciatis distinctio dignissimos possimus voluptatibus reiciendis facere minima. Deleniti quidem nesciunt neque.
        Voluptas magni minus delectus nesciunt id necessitatibus laboriosam sit nemo vel consequuntur reprehenderit optio officiis fugiat quae alias libero adipisci voluptatum, corporis veniam rem non culpa tenetur doloribus? Soluta, fugiat!</p>
    </div>

    <div class="homeSection">
        <h3>Rules</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus non, reprehenderit quasi, pariatur praesentium, aut et asperiores error repellendus mollitia dolorem explicabo totam in neque nemo saepe. Quis, neque qui?
        Reiciendis assumenda natus, magni id voluptatem delectus molestiae commodi magnam modi eligendi quia corrupti, esse, dolores tempora. Possimus, consequuntur aspernatur. Aspernatur fugit reprehenderit nihil, eum laborum libero voluptates soluta corrupti.
        Necessitatibus non praesentium harum sequi veritatis mollitia porro laboriosam perferendis vero neque excepturi, cum hic natus ipsum aut perspiciatis distinctio dignissimos possimus voluptatibus reiciendis facere minima. Deleniti quidem nesciunt neque.
        Voluptas magni minus delectus nesciunt id necessitatibus laboriosam sit nemo vel consequuntur reprehenderit optio officiis fugiat quae alias libero adipisci voluptatum, corporis veniam rem non culpa tenetur doloribus? Soluta, fugiat!</p>
    </div>

    <div class="homeSection">
        <h3>QuickText</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus non, reprehenderit quasi, pariatur praesentium, aut et asperiores error repellendus mollitia dolorem explicabo totam in neque nemo saepe. Quis, neque qui?
        Reiciendis assumenda natus, magni id voluptatem delectus molestiae commodi magnam modi eligendi quia corrupti, esse, dolores tempora. Possimus, consequuntur aspernatur. Aspernatur fugit reprehenderit nihil, eum laborum libero voluptates soluta corrupti.
        Necessitatibus non praesentium harum sequi veritatis mollitia porro laboriosam perferendis vero neque excepturi, cum hic natus ipsum aut perspiciatis distinctio dignissimos possimus voluptatibus reiciendis facere minima. Deleniti quidem nesciunt neque.
        Voluptas magni minus delectus nesciunt id necessitatibus laboriosam sit nemo vel consequuntur reprehenderit optio officiis fugiat quae alias libero adipisci voluptatum, corporis veniam rem non culpa tenetur doloribus? Soluta, fugiat!</p>
    </div>

</div>