.homeSection{
    text-align: justify;
    border: 4px solid black;
    
}
p{
    
    margin: 0px;
    padding: 1em;
    /* border: 1px solid black; */
}
h3{
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    background-color: darkslategray;
    padding: 5px;
    margin: 0px;
}
