<div class="homeSection">

    <ul>

        <li>
            <div>
                <h3>What about the game?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto blanditiis nisi quos, sed numquam et nobis molestias voluptatibus voluptates in quam, libero ex fugit maxime possimus delectus, id praesentium?</p>
            </div>
        </li>


        <li>
            <div>
                <h3>How to play?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto blanditiis nisi quos, sed numquam et nobis molestias voluptatibus voluptates in quam, libero ex fugit maxime possimus delectus, id praesentium?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto blanditiis nisi quos, sed numquam et nobis molestias voluptatibus voluptates in quam, libero ex fugit maxime possimus delectus, id praesentium?
                </p>
            </div>
           
        </li>

        <li>
            <div>
                <h3>Rules</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iusto blanditiis nisi quos, sed numquam et nobis molestias voluptatibus voluptates in quam, libero ex fugit maxime possimus delectus, id praesentium?</p>
            
            </div>
        </li>

    </ul>

</div>