<div class="showSection">

    <h3>Monster Name: {{monster?.name}}</h3>

    <div>
        <h4>Stats:</h4>
        <ul>
            <li>Id: {{monster?.name}}</li>
            <li>last updated: {{monster?.last_updated}}</li>
            <li>Attack Level: {{monster?.attack_level}}</li>
            <li>defence_slash: {{monster?.defence_slash}}</li>
            <li>size: {{monster?.size}}</li>
            <li>hitpoints: {{monster?.hitpoints}}</li>
        </ul>

        <h4>Examine:</h4>
        <p>{{monster?.examine}}</p>

        <div class="buttonContainer">
            <button (click)="delete(monster.id)"> Delete </button>
        </div>
    </div>

</div>