<div class="showSection">

    <h3>Monster Name</h3>

    <div>
        <h4>Stats:</h4>
        <ul>
            <li>Id:</li>
            <li>last updated:</li>
            <li>Attack Level:</li>
            <li>defence_slash:</li>
            <li>size:</li>
            <li>hitpoints:</li>
        </ul>

        <h4>Examine:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos asperiores similique, dolores nemo veritatis
            quis iure inventore possimus quas officia maxime ipsa fuga dignissimos labore eius nulla laboriosam impedit
            animi?</p>

        <div class="buttonContainer">
            <button> Delete </button>
        </div>
    </div>

</div>