<div class="showSection">

    <form [formGroup]="monsterCreateForm">

        <h3><input class="tittleInput" type="text" formControlName="name"></h3>

        <div class="statSection">
            <ul>
                <li>
                    <p class="tittle">last updated</p>
                    <p><input class="content" type="text" formControlName="last_updated"  ></p>
                </li>
                <li>
                    <p class="tittle">Attack Level</p>
                    <p><input class="content" type="number" formControlName="attack_level"></p>

                </li>
                <li>
                    <p class="tittle">defence slash</p>
                    <p><input class="content" type="number" formControlName="defence_slash" ></p>
                </li>
                <li>
                    <p class="tittle">size</p>
                    <p><input class="content" type="number" formControlName="size" ></p>
                </li>
                <li>
                    <p class="tittle">hitpoints</p>
                    <p><input class="content" type="number" formControlName="hitpoints" ></p>
                </li>

            </ul>

            <h3 style="border-top: 4px solid black;">categories
                <button (click)="addNewCategory()" style="width: 10%;" >New </button>
            </h3>

            <ul formArrayName="categories">
                <li *ngFor="let category of categories.controls; let i = index">
                    <p [formGroupName]="i">
                        <input class="content" type="text"  formGroupName="name"> 
                    </p>
                </li>
            </ul>

            <h4>Examine:</h4>
            <p><input style="background-color: rgb(135, 136, 136)" class="content" type="text" formControlName="examine">
            <p>More info at: <a href="">{{monster?.wiki_url}}</a></p>
            
            <div class="buttonContainer">
                <button (click)="save()"> Save </button>
                <button (click)="delete(monster.id)"> Delete </button>
            </div>
        </div>

    </form> 

</div>