.monsterSection{
    height: 70vh;
    text-align: center;
}

.column{
    vertical-align: top;
    display: inline-block;
    width: 18%;
    background-color: rgb(61, 66, 66);
    height: 60%;
    border-radius: 1vh;
    margin: 0.5%;
}

.selectedDisplay{
    display: inline-block;
    width: 58%; 
    height: 100%;
    vertical-align: top; 
    text-align: center;
    margin: 0.5%;
}

.listDisplay{
    width: 18%;
    display: inline-block;
    background-color: rgb(61, 66, 66);
    border-radius: 1vh;
    height: 100%;
    margin: 0.5%;
}

.listDisplay .container{
    overflow: auto;
}

.container{
    height: 100%;
    margin: 0px;
}

button{
    width: 50%;
    background-color: rgb(49, 51, 51);
    text-align: center;
    border-radius: 2vh;
    border: 0px solid black;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.infoDisplay{
    overflow: auto;
    border-radius: 1vh;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
    border:1px solid green;
}

