.monsterSection{
    border: 4px solid black;
    height: 500px;
}

.selectedDisplay{

    display: inline-block;
    width: 70%;
    height: 100%;
    background-color: white;
    vertical-align: top;
    
}

.listDisplay{

    width: 30%;
    background-color:dimgray;
    height: 100%;
    display: inline-block;
    

}

.listDisplay .container{
    border-left: 5px solid black;
    overflow: auto;
}

.container{
    height: 100%;
    margin: 0px;
    
}

.buttom{
    width: 100%;
    height: 8%;
    background-color:darkgrey;
    text-align: center;
   

}

.infoDisplay{
    height: 92%;
    overflow: auto;
}

